@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
    
/*le corps.*/
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(15deg, #f79c00 35%, #201e1e 60%);
	margin: 0;
	padding: 0;
}

/* Bloc du haut (la tete) */
.header {
	background-color: #333;
	color: #fff;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

/* logo de l'entreprise */
.header h1 {
	font-family: vivaldi;
    font-size: 40px;
    color: darkgoldenrod;
	margin: 0;
}

/* texte de la tete */
.header a {
	color:#ffffff;
	text-decoration: none;
	margin-left: 10px;
	font-weight: lighter;
	font-size: 20px;
	margin-right: 40px;
}



/* panier */
.logo {
	display: flex;
	margin: 5px;
	padding : 35px;
	height: 35px; 
	width: 35px;
}

/* image de l'accueil */
section  {
	margin: 0px;
	padding-top: 2px;
}

/* bloc recherche */
.search-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
}

/* texte bloc de recherche */
.search-input {
	width: 150px;
	height: 15px;
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

/* boutton rechercher */
.search-button {
	margin-left: 10px;
	background-color: #c1c2b1;
	color: white;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: bold;
}

/* bloc texte de l'image de l'accueil */
.overlay {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 20px;
	text-align: center;     
}
 
/* titre de l'image de l'accueil */
.overlay h1 {
	font-size: 30px;
}

/* texte de l'image de l'accueil */
.overlay p {
	font-size: 20px;
}

span{
	color:rgb( 238,163,0 );
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #38444d;
  }
  
  li {
	float: left;
  }
  
  .dropdown a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(211, 144, 44);
  }
  
  li.dropdown {
	display: inline-block;
	padding: 0rem 5.3%;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }




.product-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  .product {
	width: 30%;
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 10px rgba(255, 236, 236, 0.2); /* Ajout de l'ombre portée */
  }
  .product img {
	width: 55%;
	max-height: 200px;
	object-fit: cover;
  }

  .product-wrapper .product a{
	text-decoration: none;
	color: azure;
  }

  .product-wrapper .product button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background:  #38444d;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: 0.2s ease-in;
	cursor: pointer;
  }
  #seeAllBtn {
	display: block;
	margin: 20px auto;
	text-align: center;
  }

  .voir{
	text-decoration:tex;
	color: #fff;
	font-weight: bolder;
  }

  button{
	color: #000000;
  }

  /* Responsive styles */
  @media screen and (max-width: 768px) {
	.product {
	  width: 45%;
	}
  }
  @media screen and (max-width: 480px) {
	.product {
	  width: 100%;
	}
  }


#drop-menu img{
	background: transparent;
	border: none;
	cursor: pointer;
	display: none;
}


#side{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 200px;
	z-index: 99;
	left: -201px;
	background-color: orange;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
	transition:0.6s;
}


#side a{
	height: 30px;
	width: 100%;
	font-size: 14px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#side a:hover{
	background-color: rgb(167, 109, 1);
}

#btn:checked ~ #side{
	left: 0;
}


@media screen and (max-width: 1031px) {
	#drop-menu img,#side{
		display: block;
	}

	#click{
		display: none;
	}
}

  @media screen and (max-width: 600px) {
	/* Styles à appliquer lorsque la largeur de l'écran est inférieure ou égale à 600px */
	.gallery {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
	
	.gallery img {
	  width: 100%;
	  height: auto;
	}
	
	.gallery .desc {
	  font-size: 12px;
	}
  }





  
  footer {
	background-color: #000000;
	padding: 20px 0;
  }
  
  .container {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
  }
  
  .footer-section {
	display: flex;
	flex-direction: column;
  }
  
  h4 {
	color: #fffafa;
  }
  
  .footer-list {
	list-style-type: none;
	padding: 0;
	margin: 10px 2px;
  }
  
  li {
	margin: 5px 0;
  }
  
  .footer-link {
	color: #ffffff;
	text-decoration: none;
  }
  
  .footer-link:hover {
	text-decoration: none;
  }
  
  .bottom-bar {
	background-color: #38444d;
	padding: 10px 0;
	text-align: center;
  }
  
  .search__input {
	width: 0;
	transition: width 0.5s;
  }
  
  .search__button {
	display: grid;
	place-items: center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: color 0.25s;
  }
  
  .search__button:hover {
	color: #3e3e3e;
  }
  
  .search:focus-within .search__input {
	width:180px;
  }
  .search {
	display: inline-flex;
	align-items: center;
	background: linear-gradient(15deg, #f79c00 30%, #201e1e 50%);
	color: #fff;
	padding: 15px;
	border-radius: 40px;
  }
  
  .search input,
  .search button {
	color: inherit;
	border: none;
	background: transparent;
	outline: none;
	font-size:16px;
  }
  .search__button img {
	width: 290%;
	height: auto;
	margin: -8px;
  }
  

  .my-button {
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #007bff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .my-button:hover {
	background-color: #0056b3;
  }
  